/* El comando para compilar es lessc css/styles2.less css/styles2.css */
@yellow: #f7ec48;
@black: #0a1403;
@red: #f30909;
@green: #72ff0e;

.margenes(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}
.jumbotron {
  background-color: @yellow;
  color: @black;
  .margenes(50px, 15px) }

footer {
  padding: 10px 10px 0 10px;
  background-color: @yellow;
  .margenes(10px, 0px)}

.card-hotel {
  flex: 1 200px;
  /* Indico que el objeto va a poder crecer hasta 1 en su tamaña (osea el tamaño normal9 y que tendrá un ancho de 150 (flex-basis) */
  /* padding: 2px 0px 2px 0px; (top-righ-bottom-left)*/
  .margenes(10px, 0px)}

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
