/* El comando para compilar es lessc css/styles2.less css/styles2.css */
.jumbotron {
  background-color: #f7ec48;
  color: #0a1403;
  margin-top: 50px;
  margin-bottom: 15px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #f7ec48;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  /* Indico que el objeto va a poder crecer hasta 1 en su tamaña (osea el tamaño normal9 y que tendrá un ancho de 150 (flex-basis) */
  /* padding: 2px 0px 2px 0px; (top-righ-bottom-left)*/
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
