/* El comando para compilar es npm run scss */

$yellow: #f7ec48;
$black: #0a1403;
$red: #f30909;
$green: #72ff0e;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: $black;
    @include margenes(50px, 15px);
    // margin-top: 50px; el mixin me reemplaza esto
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    /* Indico que el objeto va a poder crecer hasta 1 en su tamaña (osea el tamaño normal9 y que tendrá un ancho de 150 (flex-basis) */
    /* padding: 2px 0px 2px 0px; (top-righ-bottom-left)*/
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}